.flex-grid {
    display: flex;
    margin: 0 0 20px 0;
}

.flex-grid .col {
    flex: 1;
}

.flex-grid-thirds {
    display: flex;
    justify-content: space-between;
}

.flex-grid-thirds .col {
    width: 32%;
}

@media screen and (max-width: 768px) {
    .flex-grid,
    .flex-grid-thirds {
        display: block;
    }
    .flex-grid .col,
    .flex-grid-thirds .col {
        width: 100%;
        margin: 0 0 10px 0;
    }
}

.flex-grid {
    margin: 0 0 20px 0;
}

/*.col {
    background: #282b32;
    padding: 20px;
}*/
